<!doctype html>

<html lang="en">
<head>
    <meta charset="utf-8">
    <script type="text/javascript" src="../src/app.js"></script>
    <script type="text/javascript">
    function completeAndRedirect() {
        alert('You\'re nearly there! To complete your entry, you simply need to tap \'continue\' on the next page. Good luck!');
        document.write("esfsdfds sf fsd fdf ");
    }
    </script>
        <title>Cipher-App</title>



</head>

<body>
    <form action="javascript:completeAndRedirect();">
        PLaintest:<br>
        <input type="text" name="plaintext"><br>
        <input type="submit" value="Submit">
</form>
</body>
</html>
